{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin</h1>
    <br>

    {% if is_granted('ROLE_ADMIN') %}
            <p>Welcome back, {{ app.user.username }}.</p>
    {% endif %}
{% endblock %}
