{% extends 'base.html.twig' %}

{% block title %}Edit Group{% endblock %}

{% block body %}
    <h1>Edit Group</h1>
    {{ include('group/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('group/_delete_form.html.twig') }}
    <a href="{{ path('group_index') }}">Back</a>
    <br>
{% endblock %}
