{% extends 'base.html.twig' %}

{% block title %}Class Index{% endblock %}

{% block body %}
    <h1>Class List</h1>
    Select a class to display it's current students.
    <br>
    <table class="table">
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>
                    <a href="{{ path('group_show', {'id': group.id}) }}">Show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('group_edit', {'id': group.id}) }}">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">There are currently no groups available to show.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <br>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('group_new') }}">Click here</a>
            to create a new class.<br>
        {% endif %}

{% endblock %}
